body {
    background-color: #ffe0f7;
    font-family: "Roboto", sans-serif;
}

h3 {
    font: Bold 21px/25px Montserrat;
    color: white;
    background-color: #a92665;
    padding: 3px;
    /* width: fit-content;*/
    text-align: center;
    align-self: center;
}

p {
    color: black;
    font-family: "Montserrat", sans-serif;
    text-align: center;
}

header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-image: url(./images/mountain.jpg);
    background-size: cover;
    background-position: bottom;
    height: 500px;
    width: auto;
    position: sticky;
    border-bottom: 3px solid white;
}

/* HEADER ICONS */
.icons {
    display: flex;
    justify-content: flex-end;
    top: 127px;
    left: 1445px;
    margin: 15px;
}

.icon-link {
    display: flex;
    justify-content: center;
    width: 30px;
    height: 30px;
    border: 2px solid white;
    padding: 5px 4px 0 4px;
    border-radius: 50%;
    opacity: 1;
    margin: 2px;
}

.icon-image {
    width: 70%;
    height: 70%;
}

/* HEADER TEXT */
.head-p {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    letter-spacing: 1.12px;
    color: #ffffff;
    opacity: 1;
}

.head-h1 {
    text-align: left;
    font-family: "Montserrat", sans-serif;
    font-size: 40px;
    letter-spacing: 0px;
    color: #ffffff;
    opacity: 1;
}

.head-h2 {
    text-align: left;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    letter-spacing: 0px;
    color: #ffffff;
    opacity: 1;
}

/* PROFILE PICTURE */
.profile-image {
    border-radius: 50%;
    border: 3px solid white;
    align-self: flex-end;
    margin: 0px 25px;
    top: 355px;
    left: 1174px;
    width: 160px;
    height: 160px;
}

/* INTRODUCTION SECTION */
.introduction {

    background: #f4f4f4;
    color: black;
    letter-spacing: 2px;
    margin-top: 10px;
    padding: 50px 25px;
}

.container {
    margin: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

/* TECH SECTION */
.tech-section p {
    text-align: center;
}

/* FEATURED PROJECTS SECTION*/
/* ABOUT CODE SECTION */
/* SKILLS SECTION */
/* FOR MORE LINK SECTION */
.more {
    display: flex;
    flex-direction: column;
    background-color: #9ab3f5;
}

.icons-more {
    display: flex;
    justify-content: center;
    margin: 0 15px 15px 20px;
}

/* CONTACT FOOTER SECTION */
.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

footer {
    color: black;
    width: 100%;
    padding: 20px;
    background-color: #f4f4f4;
    height: 200px;
}